.homeCont {
    width: 100vw;
    height: 100vh;
    /* border:2px solid orangered; */
    position: relative;
}

.searchCont {
    width: 23vw;
    height: 7vh;
    /* border:2px solid blue; */
    position: absolute;
    left: 40%;
    top: 3%;
}

.searchCont input {
    width: 100%;
    height: 100%;
    background-color: #f4f6f8 !important;
    border: 1px solid #7064e5;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    text-indent: 10px;
}





/* Product details */
.productCont {
    width: 65vw;
    height: auto;
    /* border:2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 20%;
    top: 15%;
}

.productDetails {
    width: 20vw;
    height: 75vh;
    border: 1px solid gray;
    box-shadow: 0 2px 8px 0 rgba(64, 77, 148, .4);
    margin: 10px;
    border-radius: 10px;
    position: relative;
    transition: 2s ease-in-out;
}

.productImg {
    width: 80%;
    height: 50%;
    /* border:2px solid red; */
    position: absolute;
    left: 10%;
    top: 10%;
}

.productImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productName {
    width: 80%;
    height: 8vh;
    /* border:2px solid blue; */
    position: absolute;
    font-size: 1.3rem;
    bottom: 25%;
    left: 10%;
}

.productPrice {
    width: 80%;
    height: 5vh;
    /* border:2px solid black; */
    font-size: 1.2rem;
    color: #224957;
    font-weight: bold;
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.productButton {
    width: 80%;
    height: 8vh;
    /* border:2px solid black; */
    border-radius: 10px;
    position: absolute;
    bottom: 2%;
    left: 10%;
}

.productButton button {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: #7064e5;
    color: white;
}
.productButton button:hover{
    cursor: pointer;
}